body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .App {
    text-align: center;
  }
  
  .MuiContainer-root {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .MuiTypography-h4 {
    margin-bottom: 20px;
  }
  
  .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  .MuiButton-containedPrimary {
    margin-top: 20px;
  }
  